/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    padding: 10px 0;
    text-align: center;
}

/* Estilos específicos para index.html */
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.controle-nivel-page .logo-container {
    text-align: center;
    margin-top: 50px;
}

.controle-nivel-page .responsive-img {
    width: 100%;
    height: auto;
}

.controle-nivel-page .logo-container img {
    width: 420px;
    height: auto;
}

.controle-nivel-page .logo-container button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Estilos específicos para controle-nivel.html */
.controle-nivel-page .container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controle-nivel-page #water-level {
    width: 100px;
    height: 200px;
    border: 2px solid #000;
    margin: 20px auto;
    position: relative;
}

.controle-nivel-page #water {
    width: 100%;
    background: #00f;
    position: absolute;
    bottom: 0;
}

.controle-nivel-page #level-indicator, .controle-nivel-page #clock {
    margin-top: 10px;
}

.controle-nivel-page .alert, .controle-nivel-page .attention-alert {
    font-weight: bold;
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.controle-nivel-page .alert {
    color: red;
    top: 10%;
}

.controle-nivel-page .attention-alert {
    background: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
    top: 20%;
}

.controle-nivel-page #log-table th, .controle-nivel-page #log-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.controle-nivel-page button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos específicos para mapareservatorio.html */
.mapa-reservatorio-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mapa-reservatorio-page #map-container {
    width: 80%;
    height: 80%;
    border: 2px solid #000;
    position: relative;
}

.mapa-reservatorio-page #map {
    width: 100%;
    height: 100%;
}

.mapa-reservatorio-page .status {
    font-weight: bold;
    margin-bottom: 10px;
}

.mapa-reservatorio-page .leaflet-popup-content-wrapper {
    background-color: #FFFF33; /* Neon yellow background */
}

.mapa-reservatorio-page .leaflet-popup-content a {
    color: #000; /* Black text */
    font-weight: bold;
    text-decoration: none;
}
